:root {
  --project_color:#3B402B;
  --accent_color :#6D7358;
  --new-green: #545A42;
  --off-white:#F2F2F2;
  --nearly-white:#FFFFFC;
  --pale-green: #BCC2AE;
  --queen-blue:#3E6990;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--project_color);
  font-size: 1rem;
}

.intro {
  padding: 3rem 0rem 2rem 1.5rem;
  text-align: left;
  width: 70%;
  background-color: var(--nearly-white);
  color: var(--project_color);
}

.intro p {
  font-size: 2rem;
}

body, .header {
  background-color: var(--nearly-white);
}

svg {
  fill: var(--project_color);
}

/* Header/Blog Title */
.header {
  padding: 1rem 0rem 1rem 4rem;
  font-size: 1.3rem; 
  line-height: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

h1, h2, h3, h4 {
  display: inline;
  font-family: "Playfair Display", serif;
}

.home {
  margin-top: 3rem;
  padding: 2rem;
}

.about {
  padding: 10px 30px 5px 30px;
  border-radius: 20px;
  background-color: var(--off-white);
  box-shadow: 10px 10px var(--accent_color);
  line-height: 32px;
  margin: 20px auto;
}

.about h2 {
  display: grid;
  font-style: italic;
}

h3 a{
  color: var(--project_color);
}

a, a:link, a:hover {
  color: var(--accent_color);
}

a:hover svg {
  fill: var(--accent_color);
}

a:link, a:visited, h3 a, .links a, .links a:hover{
  text-decoration: none;
}

a:active, a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* Create two unequal columns that float next to each other */
/* Left column */
.columnl {
  float: left;
  width: 55%;
  margin-left: 2%;
  border-radius: 20px 60px;
  box-shadow: 10px 10px var(--queen-blue);
}

.columnr
{
  float: right;
  width: 35%;
  margin-right: 2%;
  box-shadow: 10px 10px var(--accent_color);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.links {
  position: absolute;
  right: 6%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-device-width: 800px), only screen and (max-width: 800px) {
  .columnl, .columnr {
    width: 96%;
    padding: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .columnl {
    margin-left: 1.5%;
    margin-top: 20px;
  }
  .columnr {
    margin-right: 1.5%;
    margin-top: 20px;
  }
  .intro {
    width: 90%;
  }
}