
:root {
  --project_color:#3B402B;
  --accent_color :#6D7358;
  --off-white:#F2F2F2;
  --light_gray:#D9D9D9;
  --medium_gray:#A6A6A6;
}

h1, h2, h3, h4, h5, h6, p, body {
    font-family: "Open Sans", sans-serif;
    color: var(--project_color);
}

footer.p {
    font-size: 10px;
}

* {
  box-sizing: border-box;
}

.spacer {
    height: 30px;
}

.intro {
  border-radius: 15px;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  margin-right: auto;
  margin-left: auto;
  width: 75%;
  justify-content: center;
}

body {
    padding: 10px;
    background-color:white;
}

/* Header/Blog Title */
.header {
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 30px;
    text-align: left;
    background: var(--light_gray);
    font-size: 18px; 
    line-height: 20pt;
    position: fixed;
    top: 0px;
    width: 105%;
    margin-left: -20px;
}

.header h1, h2, h3, h4 {
    display: inline;
    font-family: "Playfair Display", serif;
}

.main_home {
    margin-top: 60px;
}

.about {
    justify-content: center;
    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: 17px;
    background-color: var(--off-white);
    box-shadow: 10px 10px var(--accent_color);
    line-height: 30pt;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.about h2 {
    display: grid;
    justify-content: left;
    line-height: 15px;
    font-style: italic;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymovel {
  from {margin-left: 0%;}
  to {margin-left: 40%;}
}

@-webkit-keyframes mymover {
  from {margin-right: 0%;}
  to {margin-right: 40%;}
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.columnl {
    float: left;
    width: 50%;
    border-radius: 2rem;
    margin-left: 2%;
}
.columnr
{
    float: right;
    width: 40%;
    margin-right: 2%;
    box-shadow: 10px 10px var(--medium_gray);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
    padding: 1px;
    text-align: center;
    background: var(--light_gray);
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 50vh 0vh 50vh var(--light_gray);
}

.footer a {
  color: var(--project_color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--accent_color);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 800px) {
  .columnl, .columnr {
    width: 97%;
    padding: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .columnl {
    margin-left: 1.5%;
    margin-top: 20px;
    animation-duration: 0s;
  }
  .columnr {
    margin-right: 1.5%;
    margin-top: 20px;
    animation-duration: 0s;
  }
  .intro {
    width: 90%;
  }
}
